.blog-banner {
    position: relative;
    padding-top: 64px;
    gap: 64px;
    min-height: 375px;
}

.blog-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: 
    url(/img/blog-page-banner-wave.webp) bottom / 100% auto no-repeat,
    url(/img/blog-page-banner.webp) top / 120% auto no-repeat;
    background-position: bottom -1px center, bottom -370px center;
    opacity: 0.2;
    background-color: gray;
  }

.blog-banner__header {
    font-family: 'Bakbar One', Arial, sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
    align-items: center;
    text-align: center;
}

.blog-banner__nav-list {
    gap: 8px;
    display: flex;
    list-style: none;
    color: #F5F8FB;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.blog-banner__nav-item {
    color: #F5F8FB;
    border: none;
}

.blog-banner__nav-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    align-self: center;
    text-align: center;
    color: #F5F8FB;
    gap: 8px;
    padding: 6px 12px;
    gap: 8px;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.blog-banner__nav-link::after {
    content: url(/img/icons/vertical-separator.svg);
    display: inline-block;
    width: 2px;
    border-radius: 1px;
    margin-left: 5px;
    vertical-align: middle;
}

.blog-banner__nav-link_basilisk {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    align-self: center;
    text-align: center;
    color: rgba(231, 238, 247, 0.66);
    gap: 8px;
    padding: 6px 12px;
    gap: 8px;
}

.content {
    padding-top: 64px;
    padding-bottom: 104px;
    padding-right: 64px;
    padding-left: 64px;
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 328px 1fr;
    max-width: 1280px;
    margin: 0 auto;

}


.blog-article {
    min-width: 288px;
    max-width: 1024px;
    gap: 32px;
}

.category-gaming {
    padding: 10px 24px;
    gap: 8px;
    color: #F5F8FB;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    background-color: #0265DC;
    border: 1px solid #0265DC;
}

.photo-caption, photo-caption1, photo-caption2 {
    background-color: #0265DC;
}
  
.photo-container {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.metadata {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 14px;
  }
  
  .metadata__artist-name, .metadata__time {
    gap: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;  
    padding-left: 20px;
    white-space: nowrap;
  }
  
  .metadata__artist-name {
    background-image: url(/img/icons/user-icon.svg);
    background-repeat: no-repeat;
    background-position: left;
  }

  .metadata__time {
    background-image: url(/img/icons/calendar-icon.svg);
    background-repeat: no-repeat;
    background-position: left;
  }

  .basilisks-collection-link {
    text-decoration: none;
    color: #78BBFA;
  }

  .game-developed-link {
    text-decoration: none;
    color: #78BBFA;
  }
  
.blog-list-name {
    list-style: none;
    gap: 8px;
}

.blog-list__item {
    padding-left: 70px;
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    background-image: url(/img/icons/half-logo-icon.svg);
    background-repeat: no-repeat;
    background-position: left;
    white-space: nowrap;
    align-self: center;
    align-content: center;
    align-items: center;
}

.quote {
    border-radius: 16px;
    padding: 16px;
    gap: 8px;
    margin-top: 100px;
    background-color: #002754;
}

.quote_text {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.quote__rating {
    gap: 8px;
    padding-left: 40px;
    background-image: url(/img/icons/rating-stars-icon.svg);
    background-repeat: no-repeat;
    background-position: left;
}


.nft-binance-link {
    text-decoration: none;
    color: #78BBFA;
}

.binance-link {
    text-decoration: none;
    color: #78BBFA;  
}

.final-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.article-links {
    min-width: 288px;
    gap: 12px;
    display: flex;
    align-items: baseline;
}

.tags__header, .share__header {
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
}

.tags-list, .share__list {
    list-style: none;
    display: flex;
    gap: 8px;
}

.tags__items, .share__items {
    text-decoration: none;
    border: 2px;
    gap: 8px;
    border-color: rgba(208, 215, 251, 0.17);
    color: #F5F8FB;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.tags__link {
    text-decoration: none;
    padding: 6px 12px;
    gap: 8px;
    border: 2px solid rgba(208, 215, 251, 0.17);
    color: #F5F8FB;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.share__link {
    padding: 8px;
    gap: 8px;
    border: 2px solid rgba(208, 215, 251, 0.17);
}

.twitter-icon, .facebook-icon, .instagram-icon {
    width: 16px;
    height: 16px;
    align-self: center;
}

.left-block {
    min-width: 328px;
    gap: 21px;
    order: -1;
}

.categories {
    padding: 24px;
    gap: 16px;
    background-color: #1D1C28;
}

.categoies__header, .tags__header {
    border-bottom: 1px;
    gap: 16px;
}

.categories__list {
    gap: 8px;
    padding: 0;
}

.categories__item {
    list-style: none;
    min-width: 200px;
    padding: 6px 12px;
    gap: 8px;
}

.categories__link {
    text-decoration: none;
    color: #F5F8FB;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.tags-links {
    padding: 24px;
    gap: 16px;
    background-color: #1D1C28;
    margin-top: 20px;
}

.tags__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 8px;
}

.tags__items {
    text-decoration: none;
    display: flex;
}













