.banner {
    position: relative;
    padding-top: 64px;
    gap: 64px;
    min-height: 375px;
}

.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: 
    url(/img/blog-page-banner-wave.webp) bottom / 100% auto no-repeat,
    url(/img/blog-page-banner.webp) top / 120% auto no-repeat;
    background-position: bottom -1px center, bottom -370px center;
    opacity: 0.2;
    background-color: gray;
  }

.banner__header {
    font-family: 'Bakbar One', Arial, sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: -0.5px;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.banner__navigation {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: center;
  }
  
.card--nonactive {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    align-self: center;
    text-align: center;
    color: rgba(231, 238, 247, 0.66);
    gap: 8px;
    padding: 6px 12px;
    gap: 8px;
}
  
.category {
    padding: 24px;
    gap: 16px;
}

.category__header {
    border-bottom: 1px solid rgba(191, 197, 238, 0.12);
    padding: 16px;
    font-family: 'Bakbar One', Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.category__options {
    padding: 24px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.checkbox-input {
    background-color: #0D0D15;
    border-radius: 4px;
    width: 14px;
    height: 14px;
    border: 2px solid rgba(212, 217, 242, 0.26);
    position: relative;
    display: inline-block;
    margin-right: 10px;
    transition: background .3s;
    cursor: pointer;
}

.checkbox-input:hover {
    background-color: rgba(191, 197, 238, 0.12);
    border: 2px solid rgba(231, 241, 253, 0.49);
}

.checkbox-input::before {
    content: '';
    background-size: cover;
    width: 6px;
    height: 6px;
    display: inline-block;
}

.checkbox:checked ~ .checkbox-input {
    background: url(/img/icons/checkbox-mark.svg) center / 8px 6px no-repeat;
    border-color: #3892F3;
    background-color: #0265DC;
}

.checkbox:focus ~ .checkbox-input {
    background-color: rgba(191, 197, 238, 0.12);
    border: 2px solid rgba(56, 146, 243, 1);
}

.checkbox:invalid ~ .checkbox-input {
    border-color: #EA3829;
}

.checkbox:checked::after {
    content: '';
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.options {
    position: relative;
}

.radio-input {
    background-color: #0D0D15;
    border: 2px solid rgba(212, 217, 242, 0.26);
    position: absolute;
    cursor: pointer;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.radio-input:hover {
    background-color: rgba(191, 197, 238, 0.12);
    border: 2px solid rgba(231, 241, 253, 0.49);
    box-sizing: border-box;
}

.radio__text {
    margin-left: 20px;
}

.radio:checked ~ .radio-input {
    border: 5px solid blue;
    box-sizing: border-box;
}

.radio:focus ~ .radio-input {
    background-color: rgba(231, 241, 253, 0.49);
    border: 2px solid rgba(42, 53, 63, 0.7);
    border: 5px solid blue;
}

.radio:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: white;
}

fieldset {
    background-color: #1D1C28;
}

.apply-button {
    width: 320px;
    height: 48px;
    padding: 10px 24px;
    gap: 8px;
    color: #F5F8FB;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    background-color: #0265DC;
    margin: 20px;
}

.apply-button:hover {
    transform: scale(1.1);
}

.product-listing {
    min-width: 328px;
    max-width: 1024px;
    gap: 32px;
}

.all-items {
    gap: 16px;
    display: flex;
}

.product-search__header {
    font-family: 'Bakbar One', Arial, sans-serif;
    font-weight: 400px;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.5px;
}

.sort-options {
    display: grid;
    row-gap: 8px;
    box-sizing: border-box;
}

.sort-options select {
    width: 180px;
    height: 32px;
    padding: 6px 12px;
    gap: 8px;
    border: 2px solid rgba(208, 215, 251, 0.17);
    background-color: transparent;
    color: #F5F8FB;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.sort-options option {
    background-color: #1D1C28;
}

.sort-options select:hover {
    border-color: rgba(56, 146, 243, 1);
    outline: 2px solid rgba(56, 146, 243, 1);
}

.sort-options select:focus {
    border: 2px solid rgba(2, 101, 220, 1);
}

.sort-options select:focus-visible {
    outline: unset;
}

.sorting-search {
    display: flex;
    align-items: center;
}

.search-button {
    width: 424px;
    height: 48px;
    padding: 8px 12px;
}

.catalog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 32px;
    padding: 24px;
    list-style: none;
}

.catalog-item {
    background-color: #1D1C28;
    width: 320px;
    padding: 24px;
    gap: 24px;
}

.product-image {
    background-color: blue;
}

.catalog__main-section {
    display: flex;
}