.banner {
  width: 1728px;
  padding-top: 64px;
  gap: 64px;
  background: 
  url(/img/blog-page-banner-wave.webp) bottom / 1728px 134px no-repeat,
  url(/img/blog-page-banner.webp) top / 1728px 375px no-repeat;
  background-color: #1A1925;
}

.banner__header {
  width: 1728px;
  align-items: center;
  text-align: center;
  font-family: 'Bakbar One', Arial, sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.5px;
}

.banner__navigation-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: center;
}

.card--nonactive {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  text-align: center;
  color: rgba(231, 238, 247, 0.66);
  gap: 8px;
  width: 67px;
  padding: 6px 12px;
  gap: 8px;
}

.navigation-item-home::after {
  content: url(/img/icons/vertical-separator.svg);
  display: inline-block;
  width: 2px;
  border-radius: 1px;
  margin-left: 5px;
  vertical-align: middle;
}

.contacts {
  width: 1728px;
  padding: 64px;
  gap: 16px;
  display: flex;
  justify-content: center;
}

.location {
  width: 328px;
  height: 232px;
  min-width: 328px;
  max-width: 328px;
  border: 1px solid rgba(212, 217, 242, 0.26);
  padding: 40px 32px;
}

.email {
  width: 328px;
  height: 232px;
  min-width: 328px;
  max-width: 328px;
  border: 1px solid rgba(212, 217, 242, 0.26);
  padding: 40px 32px;
}

.phone {
  width: 328px;
  height: 232px;
  min-width: 328px;
  max-width: 328px;
  border: 1px solid rgba(212, 217, 242, 0.26);
  padding: 40px 32px;
}

.contact-container {
  width: 1728px;
  padding: 64px 64px 104px 64px;
  gap: 40px;
}

.get-in-touch {
  width: 1600px;
  gap: 8px;
}

.get-in-touch__header {
  font-family: 'Bakbar One', Arial, sans-serif;
  font-weight: 400px;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.5px;
  align-items: center;
  align-self: center;
  text-align: center;
}

.get-in-touch__text {
  text-align: center;
  font-weight: 500px;
  font-size: 20px;
  line-height: 28px;
}

.contact-form {
  width: 640px;
  max-width: 640px;
  row-gap: 24px;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
}

.input-hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  pointer-events: 0;
}

.form-control {
  display: flex;
  flex-direction: column; 
  row-gap: 4px;
  margin-bottom: 24px;
}

.form-control__label {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #F5F8FB;
  align-self: flex-start;
}

.form-control__input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 10px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: transparent;
  outline: none;
  border: 2px solid rgba(208, 215, 251, 0.17);
  color: #F5F8FB;
}

.form-control__input:disabled {
  background-color: rgba(191, 197, 238, 0.12);
}

.form-control__input:hover {
  border-color: blue;
}

.form-control__input:user-invalid {
  border-color: red;
}

.form-control__input:valid:focus {
  border-color: green;
}

textarea.form-control__input {
  width: 640px;
  height: 160px;
  resize: none;
}

.form-radio {
  display: inline-flex;
  cursor: pointer;
}

.radio-input {
  background-color: #0D0D15;
  border: 2px solid rgba(212, 217, 242, 0.26);
  position: absolute;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.radio:checked ~ .radio-input {
  border: 7px solid blue;
  box-sizing: border-box;
}

.radio:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: white;
}

.form-radio:has(.form-radio__input:disabled) {
  cursor: default;
}

.radio:hover {
  background-color: blue;
}

.radio-label::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid gray;
  background-color: black;
  border-radius: 50%;
  box-sizing: border-box;
}

.form-radio__inner {
  background-color: #0D0D15;
  border: 2px solid rgba(212, 217, 242, 0.26);
  position: absolute;
  cursor: pointer;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.form-radio__:checked ~ .form-radio__inner {
  border: 6px solid blue;
  box-sizing: border-box;
}

.form-radio__inner {
  display: grid;
  align-items: start;
  align-content: center;
  column-gap: 4px;
  grid-template-columns: 24px 1fr;
}

.form-radio__box {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #E7EEF7A8;
  position: relative;
}

.form-radio__box::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0D0D15;
  position: absolute;
  left: 50%;
  right: 50%;
}

.form-control__input:checked + .form-checkbox__inner .form-checkbox__box::after {
  background-color: #0D0D15;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


.form-switcher {
  padding: 24px;
  display: flex;
  background-color: #1D1C28;
  justify-content: space-between;
}

.form-switcher__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.form-switcher__box {
  display: block;
  width: 40px;
  height: 24px;
  border-radius: 10px;
  background-color: rgba(229, 236, 251, 0.36);
  position: relative;
  cursor: pointer;
  transition: background-color .2s ease;
}

.form-switcher__box::before {
  content: '';
  display: block;
  position: absolute;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  left: 50%;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity .2s ease;
  pointer-events: none;
  border: 2px solid #3892F3;
  border-radius: 100px;
}

.form-switcher__box::after {
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  top: 2px;
  left: 2px;
  transition-property: transform, background-color;
  transition-duration: .2s;
}


.form-switcher__input:checked + .form-checkbox__box::before {
  opacity: 1;
}

.form-switcher__input:disabled + .form-checkbox__box {
  background-color: rgba(208, 215, 251, 0.17);
  cursor: default;
  opacity: .5;
}

.form-switcher__box::hover {
  background-color: rgba(212, 217, 242, 0.26);
}

.form-switcher__input:checked + .form-checkbox__box::hover {
  background-color: #3892F3;
}

.form-switcher__input:checked + .form-switcher__box {
  background-color: blue;
}

.form-switcher__input:checked + .form-switcher__box {
  background-color: #0265DC;
}

.form-switcher__input:checked + .form-switcher__box::before {
  transform: translateX(28px);
}

.form-checkbox {
cursor: pointer;
}

.form-checkbox__inner {
  display: flex;
  justify-content: flex-start;
  column-gap: 9px;
}

.form-checkbox__box {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  border: 2px solid rgba(212, 217, 242, 0.26);
  transition-property: border-color, background-color;
  transition-duration: .2s;
  position: relative;
}

.form-checkbox__box:active .form-checkbox__box {
  background-color: #59A7F6;
  border-color: #59A7F6;
}

.form-control__submit {
width: 640px;
height: 48px;
padding: 10px 24px;
gap: 8px;
font-weight: 600;
font-size: 18px;
line-height: 28px;
color: #F5F8FB;
background-color: #0265DC;
border: none;
cursor: pointer;
transition: background-color .2s ease;
}

.checkbox-input {
  background-color: #0D0D15;
  border-radius: 4px;
  width: 14px;
  height: 14px;
  border: 2px solid rgba(212, 217, 242, 0.26);
  position: relative;
  display: inline-block;
  margin-right: 10px;
  transition: background .3s;
  cursor: pointer;
}

.checkbox-input::before {
  content: '';
  background-size: cover;
  width: 6px;
  height: 6px;
  display: inline-block;
}

.checkbox:checked ~ .checkbox-input {
  background: url(/img/icons/checkbox-mark.svg) center / 8px 6px no-repeat;
  border-color: #3892F3;
  background-color: #0265DC;
}

.checkbox:invalid ~ .checkbox-input {
  border-color: #EA3829;
}

.checkbox:checked::after {
  content: '';
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}