body {
    font-family:'Poppins', Arial, sans-serif; 
    background-color: #0D0D15;
    color:#F8F7FF;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1728px;
    padding: 32px;
    color: #0D0D15;
  }
  
  .binabox {
    width: 188px;
    height: 42px;
  }
  
  .navigation-list {
    display: flex;
  }
  
  .navigation-item {
    padding: 8px 20px;
    gap: 8px;
  }
  
  .nav-link {
    color: #F5F8FB;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }
  
  .card--active {
    color: #F5F8FB;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid #0265DC;
    gap: 8px;
    width: 89px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 24px;
  }
  
  .header-buttons {
    display: flex;
    align-items: center;
    background-color: transparent;
    text-decoration: none;
    list-style: none;
    color:#F8F7FF;
    border: 0px;  
    gap: 16px;
    width: 547px;
    height: 48px;
  }
  
  .search {
    width: 188px;
    height: 48px;
    border: 2px solid rgba(208, 215, 251, 0.17);
    color: rgba(231, 238, 247, 0.66);
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    gap: 8px;  
    background-image: 
     url(img/search.svg);
    background-repeat: no-repeat;
    background-position: center left 10px;
  }
  
  .search-button {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .search-button::after {
    content: url(img/vertical-separator.svg);
    display: inline-block;
    width: 2px;
    height: 24px;
    border-radius: 1px;
    margin-left: 5px;
    vertical-align: middle;
  }
  
  .discord {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    border: 2px solid rgba(208, 215, 251, 0.17);
    padding: 10px 24px;
    gap: 8px;
    color: #F5F8FB;
    background-image: 
    url(img/discrord-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 10px;
  }
  
  .connect {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    width: 159px;
    height: 48px;
    padding: 10px 20px;
    gap: 8px;
    background-color: #0265DC;
    text-decoration: none;
    color: #F5F8FB;
    background-image: 
    url(img/connect-icon.svg);
    background-repeat: no-repeat;
    background-position: center left 10px;
  }

.footer {
    width: 1728px;
    padding-top: 64px;
    padding-right: 64px;
    padding-bottom: 32px;
    padding-left: 64px;
    gap: 64px;
    background-color: #1A1925;
  }
  
  .main-footer {
    width: 1600px;
    justify-content: space-between;
    display: flex;
  }
  
  .main-footer__left {
    width: 309px;
    gap: 12px;
  }
  
  .main-footer__logo {
    width: 188px;
    height: 42px;
  }
  
  .main-footer__text {
    width: 320px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  
  .main-footer__right {
    width: 328px;
    max-width: 360px;
    gap: 24px;
    display: flex;
  }
  
  .main-footer__right__header {
    width: 101px;
    font-family:'Poppins', Arial, sans-serif; 
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
  
  .main-footer_nav-list {
    list-style: none;
    padding-left: 0px;
    white-space: nowrap;
  }
  
  .nav-items {
    width: 37px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    align-items: center;
  }
  
  .bot-footer {
    width: 1600px;
    border-top: 1px;
    justify-content: space-between;
    padding-top: 32px;
    border-top: 1px solid rgba(191, 197, 238, 0.12);
    align-self: center;
  }
  
  .bot-footer__left {
    width: 242px;
  }
  
  .bot-footer__text {
    font-family:'Poppins', Arial, sans-serif; 
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: right;
  }
  
  .bot-footer__right {
    width: 280px;
    gap: 8px;
    margin-left: 75%;
  }
  
  .social-media__list {
    display: flex;
    list-style: none;
  }
  
  .social-media__icon {
    width: 40px;
    height: 40px;
    padding: 12px;
    gap: 8px;
  }