body {
  font-family:'Poppins', Arial, sans-serif; 
  background-color: #0D0D15;
  color:#F8F7FF;
  }
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 112px;
    width: 1728px;
    padding: 32px;
    color: #0D0D15;
  }
  .binabox {
    width: 188px;
    height: 42px;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-item {
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    gap: 8px;
  }
  .nav-link {
  color: #F5F8FB;
  text-decoration: none;
  font-family:'Poppins', Arial, sans-serif; 
  font-weight: 600;
  border: none;
  font-size: 16px;
  line-height: 24px;
  }
  .nav-link-home {
    color: #F5F8FB;
    text-decoration: none;
    font-family:'Poppins', Arial, sans-serif; 
    font-weight: 600;
    border-bottom: 2px solid #0265DC;
    gap: 8px;
    width: 89px;
    height: 40px;
    padding-top: 8px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-left: 20px;
    font-size: 16px;
    line-height: 24px;
  }
.header-buttons {
  font-family:'Poppins', Arial, sans-serif; 
  color:#F8F7FF;
  border: 0px;  
  display: flex;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  gap: 16px;
  display: flex;
  list-style: none;
  width: 547px;
  height: 48px;
}
.search {
  width: 188px;
  height: 48px;
  border: 2px solid rgba(208, 215, 251, 0.17);
  color: rgba(231, 238, 247, 0.66);
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  gap: 8px;  
  background-image: 
   url(img/search.svg);
  background-repeat: no-repeat;
  background-position: center left 10px;
}
.search-button::after {
  content: url(img/vertical-separator.svg);
  display: inline-block;
  width: 2px;
  height: 24px;
  border-radius: 1px;
  margin-left: 5px;
  vertical-align: middle;
}
.discord {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(208, 215, 251, 0.17);
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
  gap: 8px;
  background-color: transparent;
  text-decoration: none;
  font-family:'Poppins', Arial, sans-serif; 
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #F5F8FB;
  background-image: 
  url(img/discrord-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 10px;
}
.connect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 159px;
  height: 48px;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
  gap: 8px;
  background-color: #0265DC;
  text-decoration: none;
  font-family:'Poppins', Arial, sans-serif; 
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #F5F8FB;
  background-image: 
  url(img/connect-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 10px;
}
.content {
  background:
  url(img/box-banner-lines.svg) top 550px right / 337.62px 377.48px no-repeat;
}
.banner {
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  padding-right: 200px;
  padding-bottom: 64px;
  padding-left: 200px;
  width: 1,728px;
  height: 640px;
  gap: 32px;
  background: 
    url(img/big-cube.png) center right / 576px 576px no-repeat,
    linear-gradient(
    165deg,
    rgba(2, 101, 220, 0.5) 0%,
    rgba(2, 101, 220, 0) 30%
  );  
}
.headline-text {
  font-family: 'Bakbar One', Arial, sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  letter-spacing: -0.5px;
  width: 1328px;
  height: 124px;
  color: #F5F8FB;
  gap: 8px;
}
.highlight {
  color: #0265DC;
}
.title-description {
  width: 1328px;
  height: 28px;
  font-family:'Poppins', Arial, sans-serif; 
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  gap: 8px;
}
.achievement-info {
  width: 119px;
  height: 86px;
  gap: 4px;
  list-style-type: none;
  font-family:'Poppins', Arial, sans-serif; 
}
.achievement-amount {
  font-family: 'Bakbar One', Arial, sans-serif;
  font-weight: 400;
  width: 119px;
  height: 56px;
  gap: 4px;
  font-size: 44px;
  line-height: 56px;
}
.banner-buttons {
  width: 1328px;
  height: 48px;
  gap: 16px;
  display: flex;
  font-family:'Poppins', Arial, sans-serif; 
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #F5F8FB;
}
.connect-wallet {
  background-color: #0265DC;
  font-family:'Poppins', Arial, sans-serif; 
  font-weight: 600;
  color: #F5F8FB;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
}
.whitelist-now {
  width: 172px;
  height: 48px;
  border: 2px solid rgba(208, 215, 251, 0.17);
  background-color: transparent;
  color: #F5F8FB;
  font-size: 18px;
  line-height: 28px;
}
.catalog {
  width: 1728px;
  height: 696px;
  padding: 64px;
  gap: 40px;
  justify-content: space-between;
  background-image: 
}
.section-navigation {
  width: 1600px;
  height: 48px;
  gap: 32px;
  display: flex;
  align-items: center;
  background-image: url(img/catalog-icon.svg);
  background-repeat: no-repeat;
  background-position: center left;
}
.section-name-catalog {
  width: 60px;
  height: 32px;
  font-family: 'Bakbar One', Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-left: 40px;

}
.section-name {
  width: 115px;
  height: 36px;
  padding: 2px 2px;
  gap: 8px;
  font-family: 'Bakbar One', Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.see-all, .move-right, .move-left {
  width: 254px;
  height: 48px;
  gap: 16px;
  text-decoration: none;
  font-family:'Poppins', Arial, sans-serif; 
  font-weight: 600;
  color: #F5F8FB;
  background-color: transparent;
  border: none;
  display: flex;
}
.see-all {
  gap: 8px;
  border: 2px solid rgba(208, 215, 251, 0.17);
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical-separator {
  width: 2px;
  height: 24px;
  border-radius: 2px;
  color: rgba(208, 215, 251, 0.17);
}
.move-left {
  width: 48px;
  height: 48px;
  border: 2px solid rgba(208, 215, 251, 0.17);
  padding: 16px;
  gap: 8px;
  background-image: url(img/left-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.move-right {
  width: 48px;
  height: 48px;
  padding: 16px;
  gap: 8px;
  background-color: #0265DC;
  background-image: url(img/right-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 1600px;
  height: 480px;
  gap: 24px;
}
.catalog-list {
  width: 100%;
  gap: 24px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.catalog-item {
  width: 300.8px;
  height: 480px;
  padding: 24px;
  gap: 24px;
  position: relative;
  background-color: #1D1C28;
  box-sizing: border-box;
}
.catalog-product {
  width: 100%;
  height: 100%;
  position: relative;
}
.label {
  position: absolute;
  top: 8px;
  right: 20px;
  padding-top: 8px;
  padding-right: 10px;
  width: 51px;
  height: 36px;
  font-family:'Poppins', Arial, sans-serif; 
  font-weight: 600;
  font-size: 14px;
  padding: 8px 10px;
  line-height: 20px;
  color: #0265DC;
  background-color: #F5F8FB;
  align-items: center;
  justify-content: center;
  display: flex;
}
.product-image {
  width: 240px;
  height: 324px;
}
.product-description {
  width: 240px;
  height: 84px;
  gap: 8px;
  
}
.product-price {
  width: 240px;
  height: 48px;
  font-family: 'Bakbar One', Arial, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 0px;
  letter-spacing: -0.5px;
}
.product-name {
  width: 240px;
  height: 28px;
  font-family:'Poppins', Arial, sans-serif; 
  font-weight: 500;
  font-size: 20px;
  line-height: 0px;
}
.our-blog {
  width: 1728px;
  height: 2136px;
  padding: 64px;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.section-name {
  width: 1600px;
  height: 48px;
  font-family: 'Bakbar One', Arial, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.5px;
  align-items: center;
  text-align: center;
}
.sonic-live {
  width: 784px;
  height: 900px;
  min-width: 512px;
  padding: 24px;
  gap: 24px;
  background-color: #1D1C28;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}
.sonic-live-small {
  width: 784px;
  height: 434px;
  min-width: 512px;
  padding: 24px;
  gap: 24px;
  background-color: #1D1C28;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}
.big-face-image, small-face-image {
  width: 100%;
  height: auto;
  margin-bottom: 0px;
}
.label-NFT {
  width: 46px;
  height: 36px;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  background-color: #F5F8FB;
  color: #0265DC;
  font-family:'Poppins', Arial, sans-serif; 
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
}
.big-face-image {
  width: 736px;
  height: 640px;
  display: block;
}
.small-face-image {
  width: 736px;
  height: 174px;
  display: block;
}
.article-content-block {
  width: 736px;
  height: 188px;
  gap: 16px;
}
.metadata {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 14px;
}
.artist-name, .time {
  width: 94px;
  height: 20px;
  gap: 8px;
  font-family:'Poppins', Arial, sans-serif; 
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;  
  padding-left: 20px;
}
.artist-name {
  background-image: url(img/user-icon.svg);
  background-repeat: no-repeat;
  background-position: left;
  margin-top: -10px;
}
.time {
  background-image: url(img/calendar-icon.svg);
  background-repeat: no-repeat;
  background-position: left;
  margin-top: -22px;
}
.vertical-separation {
  width: 2px;
  height: 16px;
  border-radius: 2px;
}
.article-name {
  width: 736px;
  height: 48px;
  font-family: 'Bakbar One', Arial, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.5px;
  margin-top: -10px;
}
.article-content {
  width: 736px;
  height: 48px;
  font-family:'Poppins', Arial, sans-serif; 
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: -60px;
}
.sonic-live-content {
  width: 736px;
  height: 96px;
}
.read-more {
  text-decoration: none;
  width: 161px;
  height: 40px;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;
  border: 2px solid rgba(208, 215, 251, 0.17);
  color: #F5F8FB;
  font-family:'Poppins', Arial, sans-serif; 
  font-size: 16px;
  line-height: 24px;  
  font-weight: 600;
  align-self: flex-start;
  margin-top: auto;
  background-image: url(img/right-icon.svg);
  background-repeat: no-repeat;
  background-position: center right 50px;
}
.twitter-link {
  background-image: url(img/twitter-icon.svg) center / 40px 40px no-repeat;

}